<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @game.title %>
</p>

<p>
  <b>Console:</b>
  <%= @game.console %>
</p>

<p>
  <b>Year:</b>
  <%= @game.year %>
</p>

<p>
  <b>Description:</b>
  <%= @game.description %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
